<div class="row-fluid">
    <div class="span12" id="main_banner">
        <div class="row-fluid">
            <div class="span4 offset8">
                <div class="row-fluid">
                    <div class="span11 text_container">
                        <div class="text">
                            <h3 class="serif">Receive help on many activities we offer at FamilySearch</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid ask_lg_icons">
    <div class="span2 tree"><a ui-sref="tree">Family Tree</a></div>
    <div class="span2 memories"><a ui-sref="memories">Memories</a></div>
    <div class="span2 search"><a ui-sref="search">Search</a></div>
    <div class="span2 indexing"><a ui-sref="indexing">Indexing</a></div>
    <div class="span2 temple"><a ui-sref="temple">Temple</a></div>
    <div class="span2 partners"><a ui-sref="partners">Partners</a></div>
</div>

<div class="row-fluid ask_highlighted">
    <div class="span4">
        <div class="inner">
            <h4 class="serif">
                <a ui-sref="fsAccount">FamilySearch Account</a>
            </h4>
        </div>
    </div>
    <div class="span4">
        <div class="inner">
            <h4 class="serif">
                <a ui-sref="genealogyAssistance">Genealogy Assistance</a>
            </h4>
        </div>
    </div>
    <div class="span4">
        <div class="inner">
            <h4 class="serif">
                <a ui-sref="fsCenter">FamilySearch Center</a>
            </h4>
        </div>
    </div>
</div>
