<div class="page">
    <div class="row-fluid header">
        <div class="span8">
            <h1 class="serif">How to Search?</h1>
            <p>
                Searching for an ancestor in millions of records on FamilySearch can be challenging, but there
                are ways you can increase your success. Here are some tips from the experts.
            </p>
            <ul>
                <li>
                    See what the system already contains about your ancestors.
                </li>
                <li>
                    Work with others to fill in missing information and correct errors.
                </li>
                <li>
                    Add sources and explanations to show that information is accurate.
                </li>
                <li>
                    Find and merge records that are about the same person.
                </li>
            </ul>
        </div>
        <div class="span4 video-container"><img src="/img/video_placeholder.jpg"/></div>
    </div>

    <div class="row-fluid">
        <div class="span12 panel-header">
            <h2 class="pull-left serif">FAQs</h2>
            <div class="pull-right toggler" data-ng-class="{opened: tree.faqPanelOpen, closed: !tree.faqPanelOpen}" data-ng-click="tree.faqPanelOpen = !tree.faqPanelOpen"></div>
        </div>
    </div>
    <span  data-ng-if="tree.faqPanelOpen">
        <div class="row-fluid panel-search">
            <div class="span12">
                <form class="form">
                    <div class="input-append">
                        <input class="span7" type="text" data-ng-model="tree.searchFaqs" placeholder="Enter your search terms and press 'Enter' or click the 'Search' button" style="padding:8px 0px;"/>
                        <button class="btn btn-large"><i class="icon-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row-fluid panel-search-results">
            <div class="span12">
                <h3 class="serif">Top 10 Frequently Asked Questions for "Search"</h3>
                <ul>
                    <li>How to search historical records from the home page of familysearch.org</li>
                    <li>How to search historical records from the home page of familysearch.org</li>
                    <li>How to search historical records from the home page of familysearch.org</li>
                    <li>How to search historical records from the home page of familysearch.org</li>
                    <li>How to search historical records from the home page of familysearch.org</li>
                    <li>How to search historical records from the home page of familysearch.org</li>
                    <li>How to search historical records from the home page of familysearch.org</li>
                    <li>How to search historical records from the home page of familysearch.org</li>
                    <li>How to search historical records from the home page of familysearch.org</li>
                    <li>How to search historical records from the home page of familysearch.org</li>
                </ul>
            </div>
        </div>
    </span>

    <div class="row-fluid">
        <div class="span12 panel-header">
            <h2 class="pull-left serif">How to Videos</h2>
            <div class="pull-right toggler" data-ng-class="{opened: tree.howToVideosPanelOpen, closed: !tree.howToVideosPanelOpen}" data-ng-click="tree.howToVideosPanelOpen = !tree.howToVideosPanelOpen"></div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12 panel-header">
            <h2 class="pull-left serif">Tips and Tricks</h2>
            <div class="pull-right toggler" data-ng-class="{opened: tree.tipsAndTricksPanelOpen, closed: !tree.tipsAndTricksPanelOpen}" data-ng-click="tree.tipsAndTricksPanelOpen = !tree.tipsAndTricksPanelOpen"></div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12 panel-header">
            <h2 class="pull-left serif">Research Strategies</h2>
            <div class="pull-right toggler" data-ng-class="{opened: tree.researchStrategiesPanelOpen, closed: !tree.researchStrategiesPanelOpen}" data-ng-click="tree.researchStrategiesPanelOpen = !tree.researchStrategiesPanelOpen"></div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12 panel-header">
            <h2 class="pull-left serif">Other Resources</h2>
            <div class="pull-right toggler" data-ng-class="{opened: tree.otherResourcesPanelOpen, closed: !tree.otherResourcesPanelOpen}" data-ng-click="tree.otherResourcesPanelOpen = !tree.otherResourcesPanelOpen"></div>
        </div>
    </div>
</div>