<% page = { 'title': 'PAGE_TITLE', 'key': 'INDEX_PAGE_NAME'} %>
<% assets = { 'css': ['ask.styl'], 'js': ['angular-1.2.9/angular.js'] } %>
<div id="ask-angular" data-control="AskAngular" data-ng-controller="MainCtrl as mc">
   <div class="top_menu" data-top-menu></div>
   <div ui-view autoscroll="false"></div>
</div>